@{
    ViewBag.Title = "About";
}
<h2>HOW IT WORKS</h2>
<h3>"Is It Yours" is the world's largest lost and found platform. With +/- 0 items found, you can hardly find your lost item with us. Find out how we can help you and register your lost item with "Is It Yours" today.</h3>
