@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Trayan Karastoyanov</h3>

<address>
    Sofia Bulgaria<br />
    Banishir 28A<br />
    <abbr title="Phone">P:</abbr>
    +359 878 466 111
</address>

<address>
    <strong>Marketing:</strong> <a href="https://www.instagram.com/trayankarastoyanov">Instagram</a>
</address>